vm_name = "sandbox"
vm_cpus = 3
vm_memory = "4096"
vm_disk_size = 100000
vm_network_interface = "{{ vm_network_interface }}"
vagrant_home = "{{ purplelab_home }}/.vagrant.d"
vm_basefolder = "{{ purplelab_home }}/VirtualBox VMs"
